<% if @collaborator.errors.any? %>
  <% @collaborator.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit collaborator #<%= @collaborator.id %>
</h1>

<hr>

<form action="/update_collaborator/<%= @collaborator.id %>" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :first_name, @collaborator.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="project_id">
      Project
    </label>

    <%= select_tag(:project_id, options_from_collection_for_select(Project.all, :id, :user_id, @collaborator.project_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update collaborator
  </button>
</form>

<hr>

<a href="/collaborators">
  Go back
</a>
