<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All collaborators
    </h1>

    <a href="/collaborators/new" class="btn btn-block btn-outline-secondary">
      Add a new collaborator
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "collaborator_templates/collaborators_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Project
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @collaborators.each do |collaborator| %>
      <tr>
        <td>
          <%= collaborator.id %>
        </td>

        <td>
          <% if collaborator.user.present? %>
            <a href="/users/<%= collaborator.user.id %>">
              <%= collaborator.user.first_name %>
            </a>
          <% end %>
        </td>

        <td>
          <% if collaborator.project.present? %>
            <a href="/projects/<%= collaborator.project.id %>">
              <%= collaborator.project.user_id %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(collaborator.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(collaborator.updated_at) %> ago
        </td>

        <td>
          <a href="/collaborators/<%= collaborator.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @collaborators, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
