<% if @bug.present? %>
  <% if @bug.errors.any? %>
    <% @bug.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new bug
</h1>


<hr>

<form action="/create_bug" method="post">

  <div class="form-group">
    <label for="project_id">
      Project
    </label>

    <%= select_tag(:project_id, options_from_collection_for_select(Project.all, :id, :user_id, @bug.project_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @bug.title %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @bug.description %>">
  </div>

  <div class="form-group">
    <label for="deadline">
      Deadline
    </label>

    <input type="text" id="deadline" name="deadline" class="form-control" value="<%= @bug.deadline %>">
  </div>

  <div class="form-group">
    <label for="image_of_bug">
      Image of bug
    </label>

    <input type="text" id="image_of_bug" name="image_of_bug" class="form-control" value="<%= @bug.image_of_bug %>">
  </div>

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control" value="<%= @bug.status %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create bug
  </button>
</form>

<hr>

<a href="/bugs">
  Go back
</a>
