<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Bug #<%= @bug.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/bugs" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/bugs/<%= @bug.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit bug
        </a>
      </div>

      <div class="col">
        <a href="/delete_bug/<%= @bug.id %>" class="btn btn-block btn-outline-secondary">
          Delete bug
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Project
      </dt>
      <dd>
        <% if @bug.project.present? %>
          <a href="/projects/<%= @bug.project_id %>">
            <%= @bug.project.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Title
      </dt>
      <dd>
        <%= @bug.title %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @bug.description %>
      </dd>

      <dt>
        Deadline
      </dt>
      <dd>
        <%= @bug.deadline %>
      </dd>

      <dt>
        Image of bug
      </dt>
      <dd>
        <%= @bug.image_of_bug %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @bug.status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@bug.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@bug.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

