<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Project #<%= @project.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/projects" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link project start -->
      <div class="col">
        <% if current_user == @project.user %>
          <a href="/projects/<%= @project.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit project
          </a>
        <% end %>
      </div>
      <!-- Edit link project end -->

      <!-- Delete link project start -->
      <div class="col">
        <% if current_user == @project.user %>
          <a href="/delete_project/<%= @project.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete project
          </a>
        <% end %>
      </div>
      <!-- Delete link project end -->
    </div>

    <dl>
      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @project.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@project.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@project.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "project_templates/project_bugs" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "project_templates/project_collaborators" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "project_templates/project_users" %>
  </div>
</div>
<!-- Show Page Customization end -->
